* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #0a0a0a;
  color: #fff;
  line-height: 1.6;
}

a {
  color: inherit;
}
